@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --neutral-blue: hsl(229, 8%, 60%);
  --neutral-dark-blue: hsl(229, 31%, 21%);
}

body {
  font-family: 'Rubik', sans-serif;
}